#ball-block{
  width: 400px;
  height: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Kurale', serif;
}
#ball{
  width: 400px;
  height: 400px;
  background: url("../src/8ball.png");
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table;
  cursor: pointer;
}
#ball-text{
  position: absolute;
  width: 30%;
  height: 30%;
  color: white;
  font-size: 13px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: none;
  border: none;
  outline: none;
  background: url("../src/8balltriangle.png");
  background-position: center;
  background-size: 130%;
  padding: 0 5%;
}
#language-switch{
  position: absolute;
  width: 36px;
  height: 28px;
  left: -36px;
  top:-26px;
  color: white;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
}
.darkblue{
  background: dodgerblue ;  
}
.darkred{
 background: firebrick ;  
}