body{
	font-family: 'Lato', sans-serif;
	background-color: #fafafa;
}

/*SLIDE1*/

.slide-1{
	background-image: url("../src/mobile-app-landing-example-src/slide-1.png");
	background-size: 120%;
	width: 100%;
	height: 850px;
	position: relative;
}
.hand-image{
	position: absolute;
	bottom: 0;
	left: 100px;
	height: 700px;
}
.slide-1-text{
	color: white;

}
.slide-1-text span{
	display: block;
	margin-left: 50%;
}
.slide-1-text span:nth-child(1){
	font-weight: 700;
	font-size: 48px;
	padding-top: 180px;
	padding-bottom: 100px;
}
.slide-1-text span:nth-child(2),
.slide-1-text span:nth-child(3){
	font-weight: 300;
	font-size: 48px;
}
.slide-1-text span:nth-child(4){
	font-size: 18px;
	color: black;
	font-weight: 700;
}
.slide-1-text span:nth-child(5){
	margin-left: 50%;
}
.slide-1-text span:nth-child(6){
	margin-left: 10px;
}
.slide-1-text span:nth-child(5),
.slide-1-text span:nth-child(6){
	display: inline-block;
}


/*END SLIDE1*/
/*----------------------------------------------------------------------------------------*/
/*SLIDE2*/

.slide-2{
	width: 100%;
	height: 600px;

}
.slide-2-header{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.slide-2-header span{
	display: block;
}

.slide-2-header span:nth-child(1){
	color: #1b1b1b;
	font-size: 36px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 20px;
}

.slide-2-header span:nth-child(2){
	color: #9da8ad;
	font-size: 18px;
	font-weight: 400;
}

.slide-2-columns{
	text-align: center;
}

.slide-2-columns span{
	display: block;
}
.slide-2-columns span:nth-child(2){
	color: #1b1b1b;
	font-size: 36px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}
.slide-2-columns span:nth-child(3){
	color: #9da8ad;
	font-size: 18px;
	font-weight: 400;
	margin-left: 20%;
	margin-right: 20%;

}

/*END SLIDE2*/
/*----------------------------------------------------------------------------------------*/
/*SLIDE3*/


.slide-3-top{
	width: 100%;
	height: 600px;
	background-image: url("../src/mobile-app-landing-example-src/slide-1.png");
	background-size: 120%;
	position: relative;
	text-align: center;
}
.slide-3-top img{
	position: relative;
	top: 250px;
}
.phone-img-left{
	left: 80px;
	z-index: 0;
}
.phone-img-middle{
	z-index: 10;
}
.phone-img-right{
	right: 80px;
	z-index: 0;
}
.slide-3-bottom{
	height: 500px;
}

.slide-3-article{
	text-align: center;
	margin-top: 350px;
}
.slide-3-article span{
	display: block;
}

.slide-3-article span:nth-child(1){
	color: #1b1b1b;
	font-size: 36px;
	font-weight: 300;
}
.slide-3-article span:nth-child(2){
	color: #9da8ad;
	font-size: 18px;
	font-weight: 400;	
}
.slide-3-bottom .row{
	margin-top: 50px;
}
.slide-3 .row .col-md-6 div{
	position: relative;
	margin-left: 50px;
	padding-right: 50px;
	margin-bottom: 30px;
}
.slide-3 .row .col-md-6 div div{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 2px;
}
.slide-3 .row .col-md-6 span{
	display: block;
	margin-left: 130px;
}

.slide-3-content-article{
	color: #1b1b1b;
	font-size: 20px;
	font-weight: 400;
}
.slide-3-content-text{
	color: #a0a0a0;
}
.blue-clock, 
.green-graph,
.orange-ball,
.pink-chat,
.red-person,
.blue-note{
	position: relative;
	right: 15px;
	bottom: 15px;
}
.blue-clock-back{
	background-color: #45c5eb;
}

.green-graph-back{
	background-color: #97cb6f;
}
.orange-ball-back{
	background-color: #ff9537;
}
.pink-chat-back{
	background-color: #b88ccf;
}
.red-person-back{
	background-color: #f4867b;
}
.blue-note-back{
	background-color: #6ac7c1;
}
/*END SLIDE3*/
/*----------------------------------------------------------------------------------------*/
/*SLIDE4*/
.slide-4{
	height: 400px;

}
.slide-4 .row .col-md-8{
	height: 400px;
	background-image: url("../src/mobile-app-landing-example-src/slide-4.png");
	background-size: 120%;
	background-position: 50% 70%;
	position: relative;
}
.slide-4 .row .col-md-2{
	background-image: url("../src/mobile-app-landing-example-src/slide-1.png");
	height: 400px;
}
.slide-4-cite-block{
	background-color: rgba(0,0,0, 0.6);
	width: 400px;
	padding: 10px;
	position: absolute;
	left: 30%;
	bottom: 40%;
}
.slide-4-cite{
	color:#e8e8e7;
	font-size: 13px;
	font-weight: 700
}
.slide-4-cite-author{
	color: #a0a0a0;
	font-size: 11px;
	font-weight: 400
}

/*END SLIDE4*/
/*----------------------------------------------------------------------------------------*/
/*SLIDE5*/
.slide-5{
	height: 600px;
}
.slide-5-header{

}
.slide-5-header span{
	display: block;
	text-align: center;

}
.slide-5-header span:nth-child(1){
	color: #1b1b1b;
	font-size: 36px;
	font-weight: 300;
	padding-top: 75px;	
}
.slide-5-header span:nth-child(2){
	color: #9da8ad;
	font-size: 18px;
	font-weight: 400;	
}
.slide-5-team .col-md-4{
	height: 450px;
	position: relative;
}

.slide-5-team .col-md-4 span{
	display: block;
	padding-left: 55%;	
}
.slide-5-team .col-md-4 span:nth-child(1){
	color: #1b1b1b;
	font-size: 20px;
	font-weight: 700;
	padding-top: 200px;
}
.slide-5-team .col-md-4 span:nth-child(2){
	color: #9da8ad;
	font-size: 16px;
	font-weight: 400;
}
.slide-5-photo{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	left: 8%;
	bottom: 125px;
	border: 1px solid lightgray;
}
.slide-5 .row .col-md-4 .slide-5-icon-back{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: relative;
}
.slide-5 .row .col-md-4 .slide-5-icon-back:nth-child(3){
	margin-left: 55%;	
}
.twitter-color{
	background-color: #29c5f6;
}
.facebook-color{
	background-color: #6788ce;
}
.github-color{
	background-color: #6788ce;
}
.dribble-color{
	background-color: #f85993;
}
.slide-5-icon-back img{
	position: absolute;
	left: 5px;
	top: 9px;
}
.github-color img,
.facebook-color img{
	left: 9px;
}

.team-photo-1{
	background: url(../src/mobile-app-landing-example-src/team-photo-1.png);
}
.team-photo-2{
	background: url(../src/mobile-app-landing-example-src/team-photo-2.png);
	background-size: 100%;
	background-position: 25% 30%;
}
.team-photo-3{
	background: url(../src/mobile-app-landing-example-src/team-photo-3.png);
	background-position: 40% 0%;
}
/*END SLIDE5*/
/*----------------------------------------------------------------------------------------*/
/*SLIDE6*/
.slide-6{
	height: 150px;
	border-top:1px solid #f2f2f2;
	position: relative;
}
	
.slide-6-links{
	text-align: center;
	margin-top: 60px;
}
.slide-6-links span{
	display: inline-block;
	color: #989898;
	font-size: 26px;
	padding: 10px 40px;
}
.slide-6-links span a:hover{
	color: none;
	color: #222222;
}
.slide-6-links span a{
	color: #989898;
}
.lifetrackr{
	position: absolute;
	left: 100px;
	top: 73px;
}
.slide-6-facebook,
.slide-6-twitter{
	position: absolute;
	top: 78px;
	right: 100px;
}
.slide-6-facebook{
	right: 140px;
}







/*END SLIDE6*/