/*
#16a495 - green button
#178ba4 - blue button
#ebebeb - gray option background
#981f29 - red answer
#269793 - green answer
#bababa - gray answer


198 блок
928 все
*/
body{
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fbfbfb;
    color: rgb(54, 54, 54);
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 0;
}
.header{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 32px;
    margin: 6% 0;
}
.main-block{
    text-align: center;
}

#theme-selector{
    width: 180px;
    height: 40px;
    background: #ebebeb;
    padding: 5px;
    border: 1px solid #bababa;
}
#theme-selector:disabled,
#generate-question:disabled{
    opacity: 0.5;
}
#choose-1:disabled,
#choose-2:disabled{
    opacity: 0.0;
}
#generate-question{
    width: 180px;
    height: 40px;
    color: white;
    background: #269793;
    border: none;
    padding: 5px;
    font-weight: bold;
    margin-top: 1.6%;
}

#question-section{
    margin-top: 5.2%;
}

#question-number{
    font-size: 18px;
    font-weight: bold;
}
#question-text{
    width: 500px;
    margin: 24px auto;
    min-height: 60px;
    height: 8.6%;
}
#choose-1,
#choose-2{
    color: white;
    background: #178ba4;
    border: none;
    padding: 5px 15px;
    min-width: 8.6%;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
}

.answers{
     margin-top: 5.2%;
}
.answers div{
    display: inline-block;
    background: #bababa;
    border-radius: 100%;
    width: 20px;
    color: white;
    font-weight: bold;
}
.answers .dot{
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin-bottom: 2px;
}

.answers .answer-correct{
    background: #269793;
}
.answers .answer-wrong{
    background: #981f29;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: rgba(228, 228, 228, 0.9);
    vertical-align: middle;

}
.footer span{
    position: absolute;
    font-weight: bold;
    font-size: 12px;
}
.footer span:nth-child(1){
    top: 30%;
    left: 15%;
}
.footer span:nth-child(2){
    left: 75%;
    top: 30%;
}
.footer span:nth-child(3){
    left: 75%;
    top: 60%;
}
