/*
colors
gray frame in header - #e7e7e7
gray text in header - #606676
footer blue - #1268b3
text middle gray - #676975
text footer gray - #fdfdff
text lightblue - #2da9f1
*/

body {
    color: #606676;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0;
}

/*HEADER*/

.header-top {
    height: 100px;
    background-size: 100%;
    background-image: url('../src/header-background.png');
    border-bottom: 10px solid #e7e7e7;
}

.header-mid {
    height: 50px;
    text-align: center;
    position: relative;
}

.header-bot {
    height: 200px;
    background-size: 100%;
    background-image: url('../src/header-background.png');
    background-position: 0 -240px;
    border-top: 10px solid #e7e7e7;
    text-align: center;
}

.header-mid div {
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    font-weight: 600;

}

.glyphicon {
    margin-right: 5px;
}

.header-mid div:nth-child(1) {
    left: 5%;
}

.header-mid div:nth-child(2) {
    left: 25%;
}

.header-mid div:nth-child(3) {
    position: relative;
    border-radius: 100%;
    height: 150px;
    min-width: 150px;
    background-image: url("../src/myself.png");
    background-position: 50% 50%;
    background-size: 100%;
    top: -140%;
    border: 10px solid #e7e7e7;
    background-color: white;
}

.header-mid div:nth-child(4) {
    right: 25%;
}

.header-mid div:nth-child(5) {
    right: 5%;
}

.icon-for-header {
    width: 25px;
    height: 25px;
    position: relative;
    top: -2px;
}

.header-bot p {
    color: white;
}

.header-bot p:nth-child(1) {
    margin-top: 40px;
    font-weight: 600;
    font-size: 30px;
}

.header-bot p:nth-child(2) {
    font-size: 20px;
}

.mdi{
    font-size: 18px !important;
    margin-right: 3px;
}
/*END HEADER*/

/*COVLETTER*/

.main-text {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding: 10px;
}

.main-text b {
    text-transform: uppercase;
    color: #2da9f1;
}

/*END COVLETTER*/

/*MIDDLE COLUMNS*/

.education,
.workexpirience {
    padding: 30px;
}

.education b,
.workexpirience b {
    text-transform: uppercase;
    color: #2da9f1;
}

.middle-image {
    height: 200px;
    position: relative;
}

.middle-image .glyphicon {
    color: #2da9f1;
    position: absolute;
    top: 35px;
}

.glyphicon:nth-child(1) {
    left: 20px
}

.glyphicon:nth-child(2) {
    right: 10px;
}

.education {
    text-align: right;
}

/*MIDDLE COLUMNS END*/

/*PORTFOLIO*/

.portfolio-accordion-link {
    background-color: #1268b3;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.transition {
    transition: 0.5s;
}

.portfolio-accordion-link:hover {
    text-decoration: none;
    background-color: #5994C9;
}

.portfolio-accordion-link:focus {
    text-decoration: none;
}

.portfolio-panel-heading {
    padding: 0;
    background-color: #1268b3;
    border-radius: 20px;

}

.portfolio-panel-group {
    margin-bottom: 0;
}

.portfolio-panel-group .panel {
    border: none;
    border-bottom: 1px solid white;
    border-top: 10px solid #e7e7e7;
}

.portfolio-panel-title {
    color: white;
    text-align: center;
}

.portfolio-hover-link {
    border: none;
}

.portfolio-hover-link:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    border: none;
}

/*END PORTFOLIO*/

/*FOOTER*/

.footer {
    color: white;
    background-color: #1268b3;
    padding: 20px;
    text-align: center;

}

.footer div {
    padding: 10px;
    border: 1px solid #e7e7e7;
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    width: 300px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    position: relative;

}

.footer div img {
    width: 75px;
    height: 75px;
    left: 10px;
    top: 10px;
    margin-right: 10px;
}

.footer div div {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #124877;
    height: 10px;
    width: 100%;
    border-radius: 15px;
}

.footer div div:nth-child(3) {
    background-color: #3b9ff7;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.footer div .html-width {
    width: 230px;
}

.footer div .css-width {
    width: 210px;
}

.footer div .js-width {
    width: 100px;
}

.footer div .jquery-width {
    width: 120px;
}

.footer div .bootstrap-width {
    width: 180px;
}

.footer div .photoshop-width {
    width: 80px;
}

/*FOOTER END*/

/*progress-bar-lightblue - #3b9ff7
progress-bar-darkblue - #124877*/