body{
  font-size: 24px;
  color:white;
}
.background{  
  min-height: 1080px;
  height:100%;
  width:100%;
  padding:0;
}
.weather-block{
  position:fixed;
  display:inline-block;
  background: rgba(0,0,0,0.9);
  padding:10px;
  border-bottom-right-radius: 20px;
  min-width:250px;
}
.background{  
  min-height: 1080px;
  height:100%;
  width:100%;
  padding:0;
}

#city{
  margin-bottom:30px;
}
#icon{
  text-align:center;
  margin-bottom:30px;
}
.data{
  margin-left:20px;
}
.preloader{
  position:fixed;
  display: block;
  background: rgba(0,0,0,1);
  min-width:250px;
  min-height:370px;
  z-index:100;
  border-bottom-right-radius: 20px;
  text-align:center;
  padding-top:140px;
}
button{
  margin-top:20px;
}