body {
    background: #080808;
}

#main-section {
    padding: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

#header {
    height: 75px;
    width: 100%;
    background: #080808;
    display: table;
    border-bottom: 1px solid #a7a6ab;
}

#header p {
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
}

/*
polygon
http://jsfiddle.net/fzzxs759/16/
*/

#gallery {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.gallery-section {
    position: relative;
    width: 22%;
    min-width: 330px;
    margin: auto;
    background: silver;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.gallery-section:before {
    content: "";
    padding-top: 100%;
    float: left;
}

.wider {
    background-position: center !important;
    background-size: auto 100% !important;
}

/*.wider:hover {
    transition: 0.33s;
    background-size: auto 110% !important;
}*/

.higher {
    background-position: center !important;
    background-size: 100% auto !important;
}

/*.higher:hover {
    transition: 0.33s;
    background-size: 110% auto !important;
}*/

.section-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    transition: 0.3s;
}

.section-shadow:hover {
    opacity: 0;
    transition: 0.3s;
}

.section-preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

.section-preloader img {
    margin-top: 35%;
    height: 30%;
}

#carousel-main {
    position: fixed;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    display: none;
}

#carousel-main div {
    position: relative;
    height: 100%;

}

#carousel-main div img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#carousel-button-prev,
#carousel-button-next {
    position: absolute;
    height: 120%;
    top: -10%;
    background: none;
    width: 25%;
    font-family: 'slick';
    font-size: 50px;
    transition: 0.5s;
    border: none;
}

#carousel-button-close {
    font-weight: bold;
    position: absolute;
    width: 120%;
    left: -5.5%;
    top: -6%;
    height: 11%;
    background: none;
    font-family: 'slick';
    font-size: 75px;
    transition: 0.5s;
    border: none;
    text-align: right;
    padding-right: 10%;

}

#carousel-button-prev:hover,
#carousel-button-next:hover,
#carousel-button-close:hover {
    /*background: black;*/
    transition: 0.5s;
    opacity: 1;
    color: white;
}

#carousel-button-prev:focus,
#carousel-button-next:focus,
#carousel-button-close:focus,
#carousel-main div:focus {
    outline: none;
}

#carousel-button-prev {
    left: -15%;
}

#carousel-button-next {
    right: -15%;
}

.slick-dots li button:before {
    opacity: .25;
    color: white;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}

#main-section .opacity02 {
    opacity: 0.2;
}

.slick-dots li button:before{
    font-size: 18px;
}
.slick-dots{
    bottom: -3%;
}