body {
    background: #080808;

}

#main-section {
    padding: 0;
    height: 100%;
    z-index: 1;
}

#header {
    height: 75px;
    width: 100%;
    background: #080808;
    display: table;
    border-bottom: 1px solid #a7a6ab;
}

#header p {
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
}

/*
polygon
http://jsfiddle.net/fzzxs759/16/
*/

#gallery {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.gallery-section {
    position: relative;
    width: 22%;
    min-width: 330px;
    margin: auto;
    background: silver;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
.gallery-section:before {
    content: "";
    padding-top: 100%;
    float: left;
}

.wider{
    background-position: center !important;
    background-size: auto 100% !important;
}


/*.wider:hover {
    transition: 0.33s;
    background-size: auto 110% !important;
}*/

.higher{
    background-position: center !important;
    background-size: 100%  auto !important;    
}

/*.higher:hover {
    transition: 0.33s;
    background-size: 110% auto !important;
}*/

.section-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    transition: 0.3s;
}
.section-shadow:hover{
    opacity: 0;
    transition: 0.3s;
}
.section-preloader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}
.section-preloader img{
    margin-top: 35%;
    height: 30%;
}

















#carousel-main{
    position: fixed;
    height: 80%;
    width: 80%;
    z-index: 1000;
    top: 10%;
    left: 10%;
}

.carousel-inner{
   
}
.carousel-inner .item{

}
.carousel-inner .item img{
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: auto;
}




